.Category {
    width: 14rem;
    color: white;
    padding-left: 1rem;
    height: 35rem;
}

.Board {
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
}

.Board-wrapper {
    display: flex;
    flex-direction: column;
    padding: 0 5rem 0 5rem;
}

.Main {
    width: calc(100% - 15rem);
    padding: 0 1rem 0 1rem;
    border-left: 2px solid white;
}

.Title {
    color: white;
}

.Text {
    color: #b2b2b2;
}

.Create-Button, .Modify-button, .Delete-button {
    font-size: 1rem;
    border: 0;
    background-color: rgb(134, 133, 133);
    height: 2rem;
    color: white;
    width: 5rem;
    margin-right: 1rem;
}

.Buttons {
    margin-top: 1rem;
    text-align: right;
}

.Main .rdw-editor-toolbar {
    display: none !important;
}

.Content {
    color: #b2b2b2;
}

@media screen and (max-width: 767px) {
    .Board-wrapper {
        display: inline;
    }

    .Board {
        display: inline;
    }

    .Main {
        width: 90%;
        border-left: none;
    }

    .Category {
        height: auto;
    }

    .rdw-editor-wrapper {
        width: auto;
    }
}