.Submit {
    display: table;
    width: 300px;
    margin: 20vh auto;
    color: white;
}

.Submit-button {
    display: table;
    margin: 5% auto;
    font-size: 1.5rem;
    border: 0;
    background-color: rgb(134, 133, 133);
    height: 40px;
    color: white;
    width: 100%;
}

.Textbox {
    display: table;
    height: auto;
    padding: 10px;
    font-size: 1rem;
    margin: 0 auto;
    width: 90%;
}

.Text {
    padding: 10px;
    font-size: 1rem;
    margin: 0 auto;
    width: 92%;
    overflow: auto;
}

.Select {
    float: left;
    color: white;
}

.File {
    margin: auto;
    color: white;
}