.Submit {
    display: table;
    width: 300px;
    margin: 20vh auto;
}

.Submit-button {
    display: table;
    margin: 5% auto;
    font-size: 1.5rem;
    border: 0;
    background-color: rgb(134, 133, 133);
    height: 40px;
    color: white;
    width: 100%;
}

.Title {
    display: table;
    height: auto;
    padding: auto;
    font-size: 1rem;
    width: 70%;
    margin: auto;
    border: 0;
}

.Select {
    float: left;
}

.File {
    margin: auto;
}