.C {
    display: inline;
    margin-right: auto;
}

.Python {
    display: inline;
}

.Network {
    display: inline;
    margin-left: auto;
}

.Sub {
    text-align: center;
}

img {
    margin: 30vh 5% 0 5%;
}

@media (max-width:767px) {
    .Sub {
        display: flex;
        flex-direction: column;
    }

    .C, .Network {
        margin: 0;
    }
}