.C {
    display: inline;
    margin-right: 8rem;
    
}

.Python {
    display: inline;
}

.Network {
    display: inline;
    margin-left: 8rem;
}

.Sub {
    text-align: center;
    margin-top: 13rem;
}

@media (max-width:767px) {
    .Sub {
        display: flex;
        flex-direction: column;
        margin-top: 0;
        width: 100vw;
    }

    .C, .Network {
        margin: 0;
    }

    .C, .Python {
        margin-bottom: 5rem;
    }
}