.Introduce {
    margin: 5vh 0 0 5vh;
    display: flex;
    flex-direction: column;
}

.Introduce-title {
    color: white;
}

.Introduce-club { 
    color: rgb(134, 133, 133);
    padding: 0 45vh 0 39vh;
}  

.Introduce-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 1%;
}

.Introduce-member {
    color: rgb(134, 133, 133);
    text-align: center;
    margin-right: 39vh;
}

.Introduce-history {
    color: rgb(134, 133, 133);
    text-align: center;
}

.Logo {
    height: 200px;
    float: left;
    margin: 0;
}

#Club-title {
    padding-top:1%;
}