.Introduce {
    margin: 5vh 0 0 5vh;
}

.Introduce-club {
    height: 200px;
    width: 30%;
    margin-left: 650px;
    color: rgb(134, 133, 133);
}

.Introduce-title {
    color: white;
}
  
  .Introduce-member {
    color: rgb(134, 133, 133);
    float: left;
    width: 25%;
    text-align: center;
    margin-left: 35vh;
}

  .Introduce-history {
    color: rgb(134, 133, 133);
    text-align: center;
    float: left;
    margin-left: 30vh;
}

.Logo {
    height: 200px;
    float: left;
    margin: 0 0 0 35vh;
}