.Introduce {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 1%;
}

.Introduce-title {
    color: white;
}

.Introduce-club { 
    width: 650px;
    justify-content: center;
    color: rgb(134, 133, 133);
    display: flex;
}  

.Introduce-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 1%;
}

.Introduce-member {
    color: rgb(134, 133, 133);
    text-align: center;
    margin-right: 15rem;
}

.Introduce-history {
    color: rgb(134, 133, 133);
    text-align: center;
}

.Logo {
    height: 10rem;
    margin: 0 50px 0 0;
}

.Introduce-description {
    margin-left: 1%;
}

#Club-title {
    padding-top:1%;
}

@media screen and (max-width:767px){
    .Introduce-member {
        margin: 0;
    }

    .Introduce-club{
        width: 45%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .Introduce-description {
        text-align: center;
    }

    .Introduce-wrapper {
        display: block;
    }

    .Logo {
        margin: 0;
    }
}