.App-navbar {
    background-color: #262626;
    color: white;
    width: 100%;
}

.App-logo {
    background-color: #262626;
    margin: 0 0 0 1%;
    height: 4rem;
}

li {
    display: inline;
    list-style-type: none;
    padding:0 0 0 20px;
}

.menu {
    float: right;
    margin-right: 4vh;
    margin-top: 0.5%;
}

.Menu-image {
    display: none;
}

#toggle {
    display: none;
}

@media (max-width: 767px){
    
    .Menu-image {
        display: block;
        float: right;
        margin: 1.2rem;
        width: 2rem;
    }

    #toggle {
        display: none;
    }

    #toggle:checked ~ .menu{display: inline;}

    .menu {
        background: #262626;
        position: absolute;
        right: 0;
        margin: 0;
        width: 100%;
        display: none;
        top: 4rem;
        border-top: 0.1rem solid white;
    }

    .menu ul li {
        display: block;
        text-align: center;
        margin: 1rem;
    }

    #nav {
        padding: 0;
    }

    li {
        padding: 0;
    }
}