.App-navbar {
    background-color: #262626;
    color: white;
    width: 100%;
}

.App-logo {
    background-color: #262626;
    margin: 0 0 0 1%;
    height: 65px;
}

li {
    display: inline;
    list-style-type: none;
    padding:0 0 0 20px;
}

.menu {
    float: right;
    margin-right: 4vh;
    margin-top: 0.5%;
}