.editor-class {
    height: 30rem !important;
    background-color: white;
    border: 0.5rem solid gray;
}

.wrapper-editor {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0;
    width: 100%;
}

.Save {
    display: table;
    margin: 0 auto;
    font-size: 1rem;
    border: 0;
    background-color: rgb(134, 133, 133);
    height: 2rem;
    color: white;
    width: 4rem;
    margin-top: 1rem;
    border-radius: 20%;
}

.rdw-editor-wrapper {
    width: 70rem;
    margin-top: 1rem;
}

.rdw-dropdown-selectedtext {
    color: black;
}

.Post-title {
    font-size: 1rem;
    margin-top: 2rem;
    padding: 10px;
    width: 68rem;
}

.rdw-editor-toolbar {
    background-color: #262626 !important;
}