.App-logo {
  background-color: #262626;
  margin-left: 1%;
  height: 65px;
}

.App-navbar {
  background-color: #262626;
  color: white;
}

li {
  display: inline-block;
  list-style-type: none;
  padding:8px 0 0 20px;
}

.menu {
  float: right;
  margin-right: 4vh;
}

.Introduce {
  margin: 5vh 0 0 5vh;
}

.Logo {
  height: 200px;
  float: left;
}

.Introduce-text {
  margin: 3vh 0 0 2vh;
  width: 50%;
  height: 2300px;
}